<div id="subsection-menu">
<h3 class="heading"><a href="/es/about" class="simple">Acerca</a></h3>
	<ul class="nav nav-stacked">
          <li {% if page.url == '/es/about/' %} class="active" {% endif %}><a href="/es/about">Acerca de Commotion</a></li>
          <li {% if page.url contains '/es/about/contributors' %} class="active" {% endif %}><a href="/es/about/contributors">Contribuidores de Commotion</a></li>
          <li {% if page.url contains '/es/about/faq' %} class="active" {% endif %}><a href="/es/about/faq">Preguntas más frecuentes</a></li>
          <li {% if page.url contains '/es/about/guiding-principles' %} class="active" {% endif %}><a href="/es/about/guiding-principles">Principios rectores</a></li>
          <li {% if page.url contains '/es/about/where-its-used' %} class="active" {% endif %}><a href="/es/about/where-its-used">Donde se usa</a></li>
          <li {% if page.url contains '/es/about/press' %} class="active" {% endif %}><a href="/es/about/press">Prensa</a></li>
          <li {% if page.url contains '/es/about/license-privacy' %} class="active" {% endif %}><a href="/es/about/license-privacy">Licencia &amp; Intimidad</a></li>
          <li {% if page.url contains '/es/about/funding' %} class="active" {% endif %}><a href="/es/about/funding">Financiamiento</a></li>
          <li {% if page.url contains '/es/jobs' %} class="active" {% endif %}><a href="/es/jobs">Trabajos</a></li>
          <li {% if page.url contains '/es/contact' %} class="active" {% endif %}><a href="/es/contact">Contacto</a></li>
      </ul>
</div>
