<ul class="submenu nav">
  <li {% if page.url contains '/es/developer/hig/introduction' %} class="active" {% endif %}><a href="/es/developer/hig/introduction">Introducción</a></li>
  <li {% if page.url contains '/es/developer/hig/key-concepts' %} class="active" {% endif %}><a href="/es/developer/hig/key-concepts">Conceptos clave</a></li>
  <li {% if page.url contains '/es/developer/hig/key-processes' %} class="active" {% endif %}><a href="/es/developer/hig/key-processes">Procesos clave</a></li>
  <li {% if page.url contains '/es/developer/hig/design-principles' %} class="active" {% endif %}><a href="/es/developer/hig/design-principles">Criterios de diseño</a></li>
  <li {% if page.url contains '/es/developer/hig/style' %} class="active" {% endif %}><a href="/es/developer/hig/style">Estilo</a></li>
  <li {% if page.url contains '/es/developer/hig/downloads' %} class="active" {% endif %}><a href="/es/developer/hig/downloads">Descargas</a></li>
  <li {% if page.url contains '/es/developer/hig/updating-guidelines' %} class="active" {% endif %}><a href="/es/developer/hig/updating-guidelines">Actualización de la Commotion HIG</a></li>
</ul>
