<ul class="submenu nav">
  <li {% if page.url contains '/es/docs/cck/building-mounting/plan-wireless-sites' %} class="active" {% endif %}><a href="/es/docs/cck/building-mounting/plan-wireless-sites">Planifique los sitios inalámbricos</a></li>
  <li {% if page.url contains '/es/docs/cck/building-mounting/gather-tools-and-wireless-equipment' %} class="active" {% endif %}><a href="/es/docs/cck/building-mounting/gather-tools-and-wireless-equipment">Reúna Herramientas y Equipos</a></li>
  <li {% if page.url contains '/es/docs/cck/building-mounting/learn-rooftop-basics' %} class="active" {% endif %}><a href="/es/docs/cck/building-mounting/learn-rooftop-basics">Aprenda los conceptos básicos de la azotea</a></li>
  <li {% if page.url contains '/es/docs/cck/building-mounting/learn-about-rooftop-mounts' %} class="active" {% endif %}><a href="/es/docs/cck/building-mounting/learn-about-rooftop-mounts">Conozca los montajes en la azotea</a></li>
  <li {% if page.url contains '/es/docs/cck/building-mounting/prep-install-rooftop-nodes' %} class="active" {% endif %}><a href="/es/docs/cck/building-mounting/prep-install-rooftop-nodes">Preparación e instalación de nodos en la azotea</a></li>
</ul>
