<ul class="submenu nav">
  <li {% if page.url contains '/es/docs/cck/planning/design-your-network-every-network-tells-story' %} class="active" {% endif %}><a href="/es/docs/cck/planning/design-your-network-every-network-tells-story">Diseñe su red</a></li>
  <li {% if page.url contains '/es/docs/cck/planning/survey-your-neighbors' %} class="active" {% endif %}><a href="/es/docs/cck/planning/survey-your-neighbors">Encuesta a tus vecinos</a></li>
  <li {% if page.url contains '/es/docs/cck/planning/get-word-out-flyer-design' %} class="active" {% endif %}><a href="/es/docs/cck/planning/get-word-out-flyer-design">Consiga la palabra hacia fuera: Diseño de flyer</a></li>
  <li {% if page.url contains '/es/docs/cck/planning/identify-neighborhood-skills' %} class="active" {% endif %}><a href="/es/docs/cck/planning/identify-neighborhood-skills">Identificar habilidades de vecindario</a></li>
  <li {% if page.url contains '/es/docs/cck/planning/inventory-the-neighborhood' %} class="active" {% endif %}><a href="/es/docs/cck/planning/inventory-the-neighborhood">Inventario del vecindario</a></li>
  <li {% if page.url contains '/es/docs/cck/planning/design-your-network-construction-elements' %} class="active" {% endif %}><a href="/es/docs/cck/planning/design-your-network-construction-elements">Elementos de construcción</a></li>
</ul>
