<ul class="submenu nav">
  <li {% if page.url contains '/es/docs/cck/networking/intro-to-mesh' %} class="active" {% endif %}><a href="/es/docs/cck/networking/intro-to-mesh">Introducción a Mesh</a></li>
  <li {% if page.url contains '/es/docs/cck/networking/learn-networking-basics' %} class="active" {% endif %}><a href="/es/docs/cck/networking/learn-networking-basics">Aprender los fundamentos de la red</a></li>
  <li {% if page.url contains '/es/docs/cck/networking/learn-wireless-basics' %} class="active" {% endif %}><a href="/es/cck/networking/learn-wireless-basics">Aprenda Principios Inalámbricos</a></li>
  <li {% if page.url contains '/es/docs/cck/networking/guidelines-for-mesh' %} class="active" {% endif %}><a href="/es/docs/cck/networking/guidelines-for-mesh">Directrices para la malla</a></li>
  <li {% if page.url contains '/es/docs/cck/networking/wireless-challenges' %} class="active" {% endif %}><a href="/es/docs/cck/networking/wireless-challenges">Desafíos inalámbricos</a></li>
  <li {% if page.url contains '/es/docs/cck/networking/types-of-wireless-networks' %} class="active" {% endif %}><a href="/es/docs/cck/networking/types-of-wireless-networks">Tipos de redes inalámbricas</a></li>
</ul>
