<div id="subsection-menu">
<h3 class="heading"><a href="/es/download" class="simple">Descargar</a></h3>
  <ul class="nav nav-stacked">
    <li {% if page.url contains '/es/download/index.html' %} class="active" {% endif %}><a href="/download">Descargar Commotion</a></li>
    <li {% if page.url contains '/es/download/routers' %} class="active" {% endif %}><a href="/es/download/routers">Routers</a></li>
    <li {% if page.url contains '/es/download/phones' %} class="active" {% endif %}><a href="/es/download/android">Móviles</a></li>
    <li {% if page.url contains '/es/download/computers' %} class="active" {% endif %}><a href="/es/download/computers">Computadoras</a></li>
    <li {% if page.url contains '/es/download/verify-signatures' %} class="active" {% endif %}><a href="/es/download/verify-signatures">Verificando Descargas</a></li>
</div>
