<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Navegación de palanca</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.baseurl}}/{{page.lang}}">{{site.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Acerca de</a>
                <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about">Acerca de Commotion</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about/contributors">Contribuidores de Commotion
</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about/guiding-principles">Principios rectores
</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about/where-its-used">Donde se usa</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about/press">Prensa</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about/license-privacy">Licencia &amp; Intimidad</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/about/funding">Fondos</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/jobs">Trabajos</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/contact">Contacto</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/{{page.lang}}/blog">Blog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Documentación</a>
                <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs">Documentación</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/get-started">Empezar</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/get-involved">Involucrarse</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/supported-devices">Dispositivos soportados</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/guides-howtos">Guías &amp; Cómo hacer</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck">Kit de Construcción de Commoción</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/localization">Localización de Commotion</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Descargar</a>
                <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}/{{page.lang}}/download">Descargar</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/download/routers">Routers</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/download/android">Teléfonos</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/download/computers">Ordenadores</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/download/verify-signatures">Verificando Descargas</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Para Organizadores</a>
                <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck">Introducción</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck/planning">Planificación</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck/installing-configuring">Instalando + Configurando</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck/building-mounting">Construcción + Montaje</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck/networking">Redes + Inalámbricas</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/docs/cck/local-applications">Aplicaciones locales</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Para desarrolladores</a>
                <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}/{{page.lang}}/developer/resources">Recursos para desarrolladores</a></li>
                    <li><a href="https://github.com/opentechinstitute">Código fuente</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/developer/api">Referencia de la API</a></li>
                    <li><a href="https://wiki.commotionwireless.net">Wiki</a></li>
                    <li><a href="https://github.com/issues?q=is:issue+user:opentechinstitute+is:open">Seguimiento de problemas</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/developer/hig/introduction">Guía de interfaz humana</a></li>
                    <li><a href="{{site.baseurl}}/{{page.lang}}/jobs">Solicitud de propuestas</a></li>
                </ul>
            </li>
        </ul>
        {% include language-switcher-navbar.html %}
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
