<div class="verifying-downloads-block alert alert-warning">
  <h2>Verificando Descargas</h2>
  <div>
    <p>Utilizamos la mejor práctica de usar firmas GPG para firmar nuestras descargas. Esto le permite verificar que los archivos que descargó aquí fueron liberados por nosotros si lo desea.</p>

    <p>Para verificar nuestras descargas (opcional), necesitará<br />
      <br />
      <a class="button" href="http://downloads.commotionwireless.net/DR2/CE994850.asc" target="_blank">Clave de Firma de Commotion</a><br />
      <br />
      Y la firma GPG para el archivo descargado. Esta imagen enlaza con la firma de GPG de cada descarga: <img src="/icons/seal.png" /></p>

    <p><a href="/es/download/verify-signatures">Obtenga más información</a> en nuestra <a href="/es/download/verify-signatures">página Verificando Descargas.</a></p>
  </div>
</div>
  