<div class="warning-label">
	<div class="alert alert-warning-label">
		<h2><i class="fa fa-exclamation-triangle"></i> ADVERTENCIA</h2>
	</div>
	
	<div class="warning-bottom">
		<h2>Commotion</h2>
		
		<ul>
			<li><a href="http://commotionwireless.net/understanding-commotions-warning-label#anonymity">No puede esconder tu identidad</a></li>
			<li><a href="http://commotionwireless.net/understanding-commotions-warning-label#internet">No previene el monitoreo del tráfico de internet</a></li>
			<li><a href="http://commotionwireless.net/understanding-commotions-warning-label#monitoring">No provee fuerte seguridad contra el monitoreo sobre el enmallado</a></li>
			<li><a href="http://commotionwireless.net/understanding-commotions-warning-label#jamming">Puede atorarse con interferencias de radio/datos</a></li>
		</ul>
		<a href="/understanding-commotions-warning-label">Para Mayor Información Da Click Aquí</a></div>
	</div>
</div>