{% include non-front_header-topbar.html %}
{% include top-menu.html %}
{% include non-front_page-heading.html %}
{% include content-area-container_header.html %}
{% include right-col-start.html %}
{% include site-tag-cloud.html %}
{% include right-col-end.html %}
{% include left-twothird_content-header.html %}
{% include blog-header.html %}
{{ content }}
{% include blog-footer.html %}
{% include left-twothird_content-footer.html %}
{% include content-area-container_footer.html %}
{% include non-front_page-footer.html %}
