// Commotion-specific variables defined in the HIG
$commotion-pink:        #FE739B !default;
$commotion-yellow:      #E8FF00 !default;
$commotion-gold:        #C7BA38 !default;
$commotion-blue:        #00FFCF !default;
$commotion-purple:      #877AED !default;
$commotion-black:       #121212 !default;
$commotion-lightblack:  #2E2E2E !default;
$commotion-white:       #FFFFFF !default;
$warning-label-orange:  #E87600 !default;
