/* Doxygen styles */
div#doxygen a {
  padding: 0;
  margin: 0;
  border: none;
  font-weight: bold;
}
div#doxygen #top {
  font-family: 'AsapRegular',Fallback,sans-serif;
}

div#doxygen  ul.tablist {
  margin: 0;
  padding: 0 0 0 0.5em;
}
div#doxygen .tabs ul.tablist li,
div#doxygen .tabs2 ul.tablist li,
div#doxygen #top .navpath li {
  list-style: none;
  display: inline;
}
div#doxygen .tabs ul.tablist li {
  margin: 0.5em 1em 0.5em 0;  
  padding: 1em 0.25em;
}
div#doxygen #navrow1 {
  z-index: 1;
  overflow: hidden;
}
div#doxygen #navrow1.tabs ul.tablist li a {
  font-size: 1.3em;
  text-decoration: none;
  border: none;
  color: #000;
}
div#doxygen #navrow1.tabs ul.tablist li.current {
  background: #00FFCF;
}
div#doxygen #navrow1.tabs ul.tablist li.current a {
  font-weight: bold;
}
div#doxygen #navrow1.tabs ul.tablist li.current a:hover {
  background: none;
}
div#doxygen #top ul li a:hover {
  background: #E8FF00;
  color: #000;
}
div#doxygen #navrow2 {
  background: #00FFCF;
  z-index: 2;
  overflow: hidden;
  height: 1.75em;
 }

div#doxygen #navrow2 ul.tablist li {
  margin: 0.25em 0.75em 0.25em 0;  
  padding: 0.75em 0.25em;
}
div#doxygen #navrow2 ul.tablist li a {
  font-size: 1em;
  border: none;
  color: #000;
  padding: 0.5em 0.25em;
}
div#doxygen #navrow2 ul.tablist li.current {
  background: #E8FF00; 
}

div#doxygen #navrow2 ul.tablist li.current a {
  font-weight: bold;
}
div#doxygen #top #navrow3 {
  background: #ccc;
  border-left: 0.3em solid #FF739C;
  z-index: 3;
  overflow: hidden;
}
div#doxygen #navrow3 ul li {
  margin: 0.25em 0.5em;
  padding: 0.5em 0.25em;
}
div#doxygen #navrow3 ul li a {
  border: none;
  margin: 0;
  padding: 0.25em;
  color: #000;
}
div#doxygen #navrow3 ul li.current,
div#doxygen #navrow3 ul li a:hover {
  background: #E8FF00;
}
div#doxygen #navrow4 {
  background: #ccc;
  border-left: 0.3em solid #FF739C;
  border-top: 1px dotted #FF739C;
}
div#doxygen #navrow4 ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0.5em;
  padding: 0.5em 0 0 0.5em;
  border-left: 1px dotted #FF739C;
}
div#doxygen #navrow4 ul li:first-child {
  border-left: none;
}
div#doxygen #navrow4 ul li a {
  border: none;
  color: #000;
}
div#doxygen #top .navpath {
  border-top: 1px solid #FE739B;
  border-bottom: 1px solid #FE739B;
}
div#doxygen #top .navpath ul {
  margin: 0.5em 0;
  padding: 0;
}

div#doxygen #top .navpath ul li{
  background: url('/images/arrow_blk.png') right no-repeat;
  padding: 0 26px 0 10px;
}
div#doxygen #top .navpath ul li:last-child {
  background: none;
}
div#doxygen #top .navpath ul li a{
  border: none;
  color: #000;
}
div#doxygen #top .navpath ul li a:hover {
  background: #000;
  color: #E8FF00;
}
div#doxygen .header .summary {
  margin: 0.25em 0 0 0;
  text-align: right;
}
div#doxygen .header .summary a {
  font-size: 0.9em;
  border: none;
}
div#doxygen .header .headertitle {
  margin: 1em 0 0 0;
}
div#doxygen .header .headertitle .title {
  font-size: 30px;
}
div#doxygen .contents .directory {
  margin-top: 1em;
}
div#doxygen .contents .directory tr {
  border-top: 1px solid #4d4d4d;
}
div#doxygen .contents .directory tr.even {
  background: #ddd;
}
div#doxygen .contents .directory td {
  padding: 0.5em 0.75em 0.5em 0;
}
div#doxygen .contents .directory td.entry {
  white-space: nowrap;
}
div#doxygen .contents .directory td.desc {
  padding-right: 1em;
}
div#doxygen .contents .directory td.entry a, div#doxygen .contents table a {
  border: none;
}
div#doxygen .contents .directory td.entry a {
  font-weight: bold;
}
div#doxygen .contents .textblock h2 {
  font-size: 25px;
}
div#doxygen .contents .qindex {
  margin: 2em 0;
}
div#doxygen .contents .qindex a {
  text-decoration: none;
  margin: 0 .5em;
  padding: 2px 3px;
  border: none;
  font-size: 1em;
}
div#doxygen .contents table .ah {
  font-weight: bold;
  font-size: 1.1em;
  background: #FF7393;
}
div#doxygen .contents table a.el {
  font-weight: normal;
}
div#doxygen .contents tr {
  padding: 0.5em 0;
}

div#doxygen .footer a {
  border: none;
}
div#doxygen .footer a:hover {
  background: none;
}

div#doxygen div.fragment {
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
	background-color: #FBFCFD;
	border: 1px solid #C4CFE5;
}

div#doxygen pre.fragment {
        border: 1px solid #C4CFE5;
        background-color: #FBFCFD;
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
        overflow: auto;
        word-wrap: break-word;
        font-size:  9pt;
        line-height: 125%;
        font-family: monospace, fixed;
        font-size: 105%;
}

div#doxygen div.fragment {
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
	background-color: #FBFCFD;
	border: 1px solid #C4CFE5;
}

div#doxygen div.line {
	font-family: monospace, fixed;
        font-size: 13px;
	min-height: 13px;
	line-height: 1.0;
	text-wrap: unrestricted;
	white-space: -moz-pre-wrap; /* Moz */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3  */
	word-wrap: break-word;      /* IE 5.5+ */
	text-indent: -53px;
	padding-left: 53px;
	padding-bottom: 0px;
	margin: 0px;
	-webkit-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: background-color, box-shadow;
	-moz-transition-duration: 0.5s;
	-ms-transition-property: background-color, box-shadow;
	-ms-transition-duration: 0.5s;
	-o-transition-property: background-color, box-shadow;
	-o-transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
}

div#doxygen div.line.glow {
	background-color: cyan;
	box-shadow: 0 0 10px cyan;
}

div#doxygen span.lineno {
	padding-right: 4px;
	text-align: right;
	border-right: 2px solid #0F0;
	background-color: #E8E8E8;
        white-space: pre;
}
div#doxygen span.lineno a {
	background-color: #D8D8D8;
}
div#doxygen span.lineno a:hover {
	background-color: #C8C8C8;
}
/* @group Code Colorization */

div#doxygen span.keyword {
	color: #008000
}

div#doxygen span.keywordtype {
	color: #604020
}

div#doxygen span.keywordflow {
	color: #e08000
}

div#doxygen span.comment {
	color: #800000
}

div#doxygen span.preprocessor {
	color: #806020
}

div#doxygen span.stringliteral {
	color: #002080
}

div#doxygen span.charliteral {
	color: #008080
}

div#doxygen span.vhdldigit { 
	color: #ff00ff 
}

div#doxygen span.vhdlchar { 
	color: #000000 
}

div#doxygen span.vhdlkeyword { 
	color: #700070 
}

div#doxygen span.vhdllogic { 
	color: #ff0000 
}

div#doxygen blockquote {
        background-color: #F7F8FB;
        border-left: 2px solid #9CAFD4;
        margin: 0 24px 0 4px;
        padding: 0 12px 0 16px;
}
div#doxygen table.memberdecls {
  width: 100%;
  margin-bottom: 1em;
}
div#doxygen table.memberdecls tr.heading h2 {
  border-bottom: 3px solid #333;
}
div#doxygen table.memberdecls td.memSeparator {
  height: 2px;
  line-height: 0;
  background: #ccc;
}

div#doxygen table.memberdecls td.memItemLeft {
  padding: 0.25em 1em 0.25em 0;
}
