{% include header.html title=page.title subtitle=page.tagline %}

<section id="main_content" class="container">

    <div class="content row">
        <div class="col-md-9">
            {% if page.url != '/blog/' and page.url != '/blog/index.html' and page.url != '/blog/by-date.html' %}
                <h2>{{ page.created }} / {{ page.post_author }}</h2>
            {% endif %}

            {{ content }}
        </div>
        <div class="col-md-3">
            <div class="nav">
                <div id="sidemenu">
                    {% include blog-sidebar-menu.html %}
                </div>
            </div>
        </div>
    </div>

</section>

{% include footer.html %}
