{% comment %}
    Identical to layout: blog.html except for the date/author heading.
{% endcomment %}

{% include header.html title=page.title subtitle=page.tagline %}

<section id="main_content" class="container">

    <div class="content row">
        <div class="col-md-9">
            {{ content }}
        </div>
        <div class="col-md-3">
            <div class="nav">
                <div id="sidemenu">
                    {% include blog-sidebar-menu.html %}
                </div>
            </div>
        </div>
    </div>

</section>

{% include footer.html %}
