{% include header.html width="home-width" title=page.title subtitle=page.tagline %}

<section id="main_content" class="inner home-width">

    <div class="content">
        <div class="left-side">
            <h2>{{ page.created }} / {{ page.post_author }}
            {{ content }}
        </div>
        <div class="right-side">
            <div class="nav">
                <div id="sidemenu">
                    {% include blog-sidebar-menu.html %}
                </div>
            </div>
        </div>
    </div>

</section>

{% include footer.html %}
