{% include header.html width="home-width" title=page.title subtitle=page.tagline %}

<section id="main_content" class="inner home-width">

    <div class="content">
        <div class="left-side">
            {% if page.url != '/blog/' and page.url != '/blog/index.html' and page.url != '/blog/by-date.html' %}
                <h2>{{ page.created }} / {{ page.post_author }}
            {% endif %}

            {{ content }}
        </div>
        <div class="right-side">
            <div class="nav">
                <div id="sidemenu">
                    {% include blog-sidebar-menu.html %}
                </div>
            </div>
        </div>
    </div>

</section>

{% include footer.html %}
