<!--
Summary: Unique layout for main site index.
Parent Template: default

Notes:
Mainly exists to prevent language/contact sidebar from squeezing category tiles
-->

{% include header.html title=page.title subtitle=page.tagline %}

<section id="main_content" class="container" role="main">

    <div class="content">
        {{ content }}
    </div>
    <!-- 
        This grid should be a simple sidenav include.
        _tile styles conflict with twbs.
            -->
    <div class="grid">
        <div id="sidemenu" class="grid-row">
            <div class="grid-cell">
                <p><a href="/report">Report a bug</a></p>
            </div>
            <div class="grid-cell">
                <p><a href="/contact">Send us feedback</a></p>
            </div>
            <div class="grid-cell">
                <p><a href="/docs/localization">Help us translate</a></p>
            </div>
        </div>
    </div>

</section>

{% include footer.html %}
