<div id="subsection-menu">
<h3 class="heading"><a href="/fr/about" class="simple">À propos</a></h3>
	<ul class="nav nav-stacked">
          <li {% if page.url == '/fr/about/' %} class="active" {% endif %}><a href="/fr/about">À propos de Commotion</a></li>
          <li {% if page.url contains '/fr/about/contributors' %} class="active" {% endif %}><a href="/fr/about/contributors">Commotion Contributeurs</a></li>
          <li {% if page.url contains '/fr/about/faq' %} class="active" {% endif %}><a href="/fr/about/faq">FAQ</a></li>
          <li {% if page.url contains '/fr/about/guiding-principles' %} class="active" {% endif %}><a href="/fr/about/guiding-principles">Des principes directeurs</a></li>
          <li {% if page.url contains '/fr/about/where-its-used' %} class="active" {% endif %}><a href="/fr/about/where-its-used">Où il est utilisé</a></li>
          <li {% if page.url contains '/fr/about/press' %} class="active" {% endif %}><a href="/fr/about/press">Presse</a></li>
          <li {% if page.url contains '/fr/about/license-privacy' %} class="active" {% endif %}><a href="/fr/about/license-privacy">Licence et confidentialité</a></li>
          <li {% if page.url contains '/fr/about/funding' %} class="active" {% endif %}><a href="/fr/about/funding">Financement</a></li>
          <li {% if page.url contains '/fr/jobs' %} class="active" {% endif %}><a href="/fr/jobs">Emplois</a></li>
          <li {% if page.url contains '/fr/contact' %} class="active" {% endif %}><a href="/fr/contact">Contact</a></li>
      </ul>
</div>
