<ul class="submenu nav">
  <li {% if page.url contains '/fr/developer/hig/introduction' %} class="active" {% endif %}><a href="/fr/developer/hig/introduction">Introduction</a></li>
  <li {% if page.url contains '/fr/developer/hig/key-concepts' %} class="active" {% endif %}><a href="/fr/developer/hig/key-concepts">Concepts clés</a></li>
  <li {% if page.url contains '/fr/developer/hig/key-processes' %} class="active" {% endif %}><a href="/fr/developer/hig/key-processes">Processus clés</a></li>
  <li {% if page.url contains '/fr/developer/hig/design-principles' %} class="active" {% endif %}><a href="/fr/developer/hig/design-principles">Principes de conception</a></li>
  <li {% if page.url contains '/fr/developer/hig/style' %} class="active" {% endif %}><a href="/fr/developer/hig/style">Style</a></li>
  <li {% if page.url contains '/fr/developer/hig/downloads' %} class="active" {% endif %}><a href="/fr/developer/hig/downloads">Téléchargements</a></li>
  <li {% if page.url contains '/fr/developer/hig/updating-guidelines' %} class="active" {% endif %}><a href="/fr/developer/hig/updating-guidelines">Mise à jour du Commotion HIG</a></li>
</ul>
