<ul class="submenu nav">
  <li {% if page.url contains '/fr/docs/cck/building-mounting/plan-wireless-sites' %} class="active" {% endif %}><a href="/fr/docs/cck/building-mounting/plan-wireless-sites">Planifier des sites sans fil></li>
  <li {% if page.url contains '/fr/docs/cck/building-mounting/gather-tools-and-wireless-equipment' %} class="active" {% endif %}><a href="/fr/docs/cck/building-mounting/gather-tools-and-wireless-equipment">Rassemblez les outils et l'équipement</a></li>
  <li {% if page.url contains '/fr/docs/cck/building-mounting/learn-rooftop-basics' %} class="active" {% endif %}><a href="/fr/docs/cck/building-mounting/learn-rooftop-basics">Apprenez les bases de Rooftop</a></li>
  <li {% if page.url contains '/fr/docs/cck/building-mounting/learn-about-rooftop-mounts' %} class="active" {% endif %}><a href="/fr/docs/cck/building-mounting/learn-about-rooftop-mounts">En savoir plus sur le toit Mounts</a></li>
  <li {% if page.url contains '/fr/docs/cck/building-mounting/prep-install-rooftop-nodes' %} class="active" {% endif %}><a href="/fr/docs/cck/building-mounting/prep-install-rooftop-nodes">Préparez et installez des nœuds de toit</a></li>
</ul>
