<ul class="submenu nav">
  <li {% if page.url contains '/fr/docs/cck/networking/intro-to-mesh' %} class="active" {% endif %}><a href="/fr/docs/cck/networking/intro-to-mesh">Introduction au maillage</a></li>
  <li {% if page.url contains '/fr/docs/cck/networking/learn-networking-basics' %} class="active" {% endif %}><a href="/fr/docs/cck/networking/learn-networking-basics">Apprendre les bases de réseautage</a></li>
  <li {% if page.url contains '/fr/docs/cck/networking/learn-wireless-basics' %} class="active" {% endif %}><a href="/fr/docs/cck/networking/learn-wireless-basics">Apprenez les bases de base sans fil
</a></li>
  <li {% if page.url contains '/fr/docs/cck/networking/guidelines-for-mesh' %} class="active" {% endif %}><a href="/fr/docs/cck/networking/guidelines-for-mesh">Lignes directrices pour le maillage</a></li>
  <li {% if page.url contains '/fr/docs/cck/networking/wireless-challenges' %} class="active" {% endif %}><a href="/fr/docs/cck/networking/wireless-challenges">Défis sans fil</a></li>
  <li {% if page.url contains '/fr/docs/cck/networking/types-of-wireless-networks' %} class="active" {% endif %}><a href="/fr/docs/cck/networking/types-of-wireless-networks">Types de réseaux sans fil</a></li>
</ul>
