<div id="subsection-menu">
<h3 class="heading"><a href="/fr/download" class="simple">Télécharger</a></h3>
  <ul class="nav nav-stacked">
    <li {% if page.url contains '/fr/download/index.html' %} class="active" {% endif %}><a href="/download">Télécharger Commotion</a></li>
    <li {% if page.url contains '/fr/download/routers' %} class="active" {% endif %}><a href="/fr/download/routers">Routeurs</a></li>
    <li {% if page.url contains '/fr/download/phones' %} class="active" {% endif %}><a href="/fr/download/android">Téléphones</a></li>
    <li {% if page.url contains '/fr/download/computers' %} class="active" {% endif %}><a href="/fr/download/computers">Des ordinateurs</a></li>
<!--     <li {% if page.url contains '/fr/download/openbts' %} class="active" {% endif %}><a href="/fr/download/openbts">Cellular Networks</a></li> -->
    <li {% if page.url contains '/fr/download/verify-signatures' %} class="active" {% endif %}><a href="/fr/download/verify-signatures">Vérification des téléchargements</a></li>
</div>
