---
title: "Commotion Blog"
layout: blog-index
lang: es
---
<h2>Recent Blog Posts</h2>
<div class="blog-landing">
  {% for post in paginator.posts %}
    <div class="blog-container">
      <h3><a href="{{ post.url }}" class="blog-teaser-title">{{ post.title }}</a></h3>
      <p class="blog-pubdata">{% if post.teaser_image %}<img src="/files/{{ post.teaser_image }}" style="width:15%; height: auto; float: right;" />{% endif %} {{ post.date | date: "%B %d, %Y" }} {{ post.post_author }}</p>
      <p class="blog-excerpt">{{ post.content | split:'<!--more-->' | first | strip_html }}</p>
    </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span class="prev">&laquo; Prev</span>
      {% endif %}
      {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span class="next">Next &raquo;</span>
      {% endif %}
    </div>
  {% endif %}
</div>
