.template-header {
    background-color: black;
    color: white;
    border-bottom: 10px solid black;

}

.center-arrow-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid black;
    margin: 0 auto;
}

.center-arrow-down-ft {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #f2f2f2;
    margin: 0 auto;
}

nav.navbar {
    background: #2e2e2e url(/icons/pattern.png) repeat;
    text-transform: uppercase;
}

.nav-plain-text {
    color: $navbar-default-link-hover-color;
}
.nav-plain-text-inverse {
    color: $navbar-inverse-link-hover-color;
}

// Aligns plain text with regular links
.nav {
    > li {
        > .nav-plain-text {
            // See _navs: nav > li > a
            position: relative;
            display: block;
            padding: $nav-link-padding;
            color: $navbar-inverse-link-color;
        }
    }
}

.navbar-nav {
    > li > .nav-plain-text {
        padding-top:    10px;
        padding-bottom: 10px;
        line-height: $line-height-computed;
    }

    @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        > li > .nav-plain-text {
            line-height: $line-height-computed;
        }
    }

    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        > li {
            > .nav-plain-text {
                padding-top:    $navbar-padding-vertical;
                padding-bottom: $navbar-padding-vertical;
            }
        }
    }
}

.navbar-brand {
    font-size: $font-size-base;
}
