// Prevent body link styles from stomping twbs nav styles
#main_content_wrap {
    a,
    a:visited,
    a:link {
        border-bottom: 2px solid $commotion-yellow;
        color: inherit;
        font-weight:bold;
        text-decoration: none;
    
        &:hover {
        border-bottom: 2px solid $commotion-pink;
        }
    }
    
    a.simple,
    a.simple:link {
        border-bottom: none;
        font-weight: 500;
        
        &:hover {
            font-weight: 800;
        }
    }
}

.issue-button {
    border: thin solid $gray-light;
    background-color: $gray-lighter;
    text-align: center;
    padding: 15px;
    margin: 12px 0px;
    
    &:hover {
        background-color: white;
    }
}

#sidemenu .heading {
    background-color: $commotion-lightblack;
    padding:10px 10px;
    font-weight:600;
    color: $commotion-white;
    margin-bottom: 0;
}

#sidemenu .nav {
    background-color: rgba(0, 255, 207, 1);
}

#sidemenu .nav a, 
#menu .nav a:link,
#menu .nav a:visited {
    color: black;
    text-decoration: none;
    border-bottom: medium none;
    font-weight: normal;
        
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: none;
    }
}

#sidemenu .nav ul {
    border-left: 3px solid $commotion-pink;
    background-color: $gray-light;
}


// #sidemenu {
//     margin:20px 0px;
//     padding:0px 0px;
//     width:100%;
// }
// 
// #sidemenu ul {
//     padding: 0px;
// }
// 
// #sidemenu ul ul {
//     padding: 0px;
//     margin: 0px;
// }
// 
// #sidemenu ul li {
//     margin: 0px;
//     padding: 0px;
// }
// 
// #sidemenu ul ul li a, #menu ul ul li a:link, #menu ul ul li a:visited {
//     padding:5px 20px;
// }
// 

// 

// 
// #sidemenu .highlight {
//   background-color: $commotion-yellow;
// }
// 

// 
// #sidemenu .post-calendar,
// #sidemenu .tag-cloud {
//     margin-top: 20px;
//     margin-bottom: 20px;
// }

// Only reference below this point

/* used to define the width of the header and body */
// .default-width { max-width: 640px; }
// .home-width { max-width: 840px; }
// .guide-width { max-width: 869px; } /* (540+250)(1 + 10% margin) */
// .collection-content dt {
//     padding: 0 1em;
// }
// 
// .collection-content hr {
//  color: white;
//  background-color: white;
// }
// 
// .cck-download-pdf a:link img {
//     margin-top: 1em;
//     margin-bottom: 0px;
//     padding: 0px;
//     display: block;
//     max-width: 212px;
//     background: transparent;
// }
// 
// .cck-download a,
// .cck-download a:link,
// .cck-download a:visited {
//     display: block;
//     width: 212px;
//     padding: 4px;
//     font-weight: bold;
//     color: $commotion-yellow;
//     text-align: center;
//     text-transform: uppercase;
//     background-color: black;
//     border: none;
// }
// 
// .cck-download a:hover {
//   color: white;
// }
// 
// 
// 
// .blog img {
//   float: left;
//   margin: 10px 30px 30px 0px;
//   max-width: 50%;
//   clear: left;
// }
// 
// .blog img.large {
//   display: block;
//   float: none;
//   max-width: 100%;
// }
// 
// figure {
//     display: table;
//     max-width: 800px;
// }
// 
// .blog figure img {
//     display: table-cell;
//     vertical-align: middle;
//     margin: 0;
//     padding: 10px;
//     max-width: 100%;
//     clear: none;
//     float: none;
// }
// 
// .blog figure figcaption {
//     display: table-row;
//     vertical-align: middle;
//     font-style: italic;
// }
// 
// .collection-content a:link img {
//     background: #eae8e8
// }
// 
// .collection-content {
//     background-color: #eae8e8;
//     padding-top: 1em;
//     padding-bottom: 1em;
//     border-bottom: thin solid darkgray;
// }
// 
// .collection-content img {
//     width:100%;
//     margin-left: auto;
//     margin-right: auto;
//     display: block;
// }
// 
// .collection-content p {
//     padding: 0px 1em;
// }
// 
// 
// .collection-content h2 {
//     display:block;
//     width:100%;
//     padding:0.5em;
//     background-color:#333;
//     color:#fff;
//     font-size:1.8em;
//     font-weight:500;
//     line-height:33px;
//     margin: 0em 0 .3em 0;
// }
// 
// .collection-content h3 {
//     border-left: 4px solid $commotion-pink;
//     font-size: 1.5em;
//     letter-spacing: 0px;
//     margin: 0px 0px 20px;
//     padding: 0px 0px 0px 13px;
//     font-weight: 500;
//     font-height: 1.1;
//     color: inherit;
// }
// 
// .collection-content h4 {
//     padding: 10px 10px;
// }
// 
// .collection-content section {
//     border-bottom: 1px solid #fff;
//     margin-bottom: 25px;
//     margin-top: 0px;
// }
// 
// .collection-content table {
//     width: 95%;
//     margin: 9px 1em 1em;
//     background-color: transparent;
//     max-width: 100%;
//     border-collapse: collapse;
//     border-spacing: 0x;
//     border: 0;
// }
// 
// .collection-content tr {
//     border: 0;
//     border-bottom: 1px dashed #000;
//     border-top: 1px dashed #000;
// }
// 
// .collection-content td {
//     vertical-align:middle;
//     border: 0;
// }
// 
// .collection-content tr:hover {
//     background-color: white;
// }
// 
// 
// .insert {
//  background-color:white;
//  padding:20px;
//  border:thin dotted black;
//  margin: 20px 10px;
// }
// 
// 
// p.tip {
//     border-bottom: 1px dashed $commotion-pink;
//     border-top: 1px dashed $commotion-pink;
//     font-style: italic;
//     margin: 30px 20px 10px 20px;
//     padding: 30px 0px 25px;
//     position: relative;
// }
// 
// p.tip:after {
//     background: url("/icons/CCK_tip_icon.png") no-repeat scroll 0px 0px transparent;
//     content: "";
//     height: 32px;
//     left: 15px;
//     position: absolute;
//     top: -13px;
//     width: 32px;
// }
// 
// p.tip:before {
//     content: "Tip: ";
// }
// 
// 
// ul li {
//     padding-bottom: 10px;
// }
// 
// img.highlight:hover {
//   border: 2px solid $commotion-yellow;
// }
// 
// a img, a:link img {
//   background: white;
//   border-bottom: none;
// }
// 
// .project_logo {
//     height:100%;
//     width: auto;
//     max-height:100px;
//     float:left;
//     margin-right:15px;
//     vertical-align:top;
//     top: 50%;
//     transform: translateY(-25%);
// }
// 
// #footer_wrap.outer {
//   padding: 0 0;
//   min-height: 50px;
//   text-align: left;
//   background-color: black;
//   background-image: none;
//   color: white;
// }
// 
// .content:before, .content:after, section:before, section:after {
//     display: table;
//     clear:both;
//     content: " ";
// }
// 
// .left-side {
//     min-width: 200px;
//     float: left;
//     margin: 0;
//     width:65%;
//     max-width:540px;
//     text-align:left;
// }
// 
// .right-side {
//   float: left;
//   padding: 0px 0px;
//   margin: 0px 0px 0px 10%;
//   width: 25%;
//   min-width:150px;
//   text-align:left;
// }
// 

