// Inherits from base/hig
.commotion-pink {
    background-color: $commotion-pink;
}

.commotion-yellow {
    background-color: $commotion-yellow;
}

.commotion-gold {
    background-color: $commotion-gold;
}

.commotion-blue {
    background-color: $commotion-blue;
}

.commotion-purple {
    background-color: $commotion-purple;
}

.text-commotion-pink {
    color: $commotion-pink;
}

.text-commotion-yellow {
    color: $commotion-yellow;
}

.text-commotion-gold {
    color: $commotion-gold;
}

.text-commotion-blue {
    color: $commotion-blue;
}

.text-commotion-purple {
    color: $commotion-purple;
}
