{% if {{page.pdf}} %} 
<div class="cck-download-pdf">
  <a href="/files/{{page.pdf}}">
  <img src="/files/CCK_pdf.png" alt="Download {{page.title}} PDF" /">
  </a>
</div>
<span class="cck-download"><a href="/files/{{page.pdf}}">Download PDF</a></span>
{% endif %}
{% if {{page.pdf-all}} %}
<div class="cck-download-all">
  <a href="/files/cck-1.0.zip">
  <img src="/files/CCK_allpdf.png" alt="Download All CCK Modules as PDFs" /><br />
  <span class="cck-download">Download All</span>
  </a>
</div>
{% endif %}
