<ul class="submenu">
  <li {% if page.url contains '/developer/hig/introduction' %} class="active" {% endif %}><a href="/developer/hig/introduction">Introduction</a></li>
  <li {% if page.url contains '/developer/hig/key-concepts' %} class="active" {% endif %}><a href="/developer/hig/key-concepts">Key Concepts</a></li>
  <li {% if page.url contains '/developer/hig/key-processes' %} class="active" {% endif %}><a href="/developer/hig/key-processes">Key Processes</a></li>
  <li {% if page.url contains '/developer/hig/design-principles' %} class="active" {% endif %}><a href="/developer/hig/design-principles">Design Principles</a></li>
  <li {% if page.url contains '/developer/hig/style' %} class="active" {% endif %}><a href="/developer/hig/style">Style</a></li>
  <li {% if page.url contains '/developer/hig/downloads' %} class="active" {% endif %}><a href="/developer/hig/downloads">Downloads</a></li>
  <li {% if page.url contains '/developer/hig/updating-guidelines' %} class="active" {% endif %}><a href="/developer/hig/updating-guidelines">Updating the Commotion HIG</a></li>
</ul>
