<div id="downloads-nav">
  {% if page.url == "/download/routers/index.html" %}
    <span class="tab first active"><a href="/download/routers"><img title="Router Firmware" style="height: 80px; width: 80px;" src="/files/router3.png" alt="Routers"></a></span>
  {% else %}
    <span class="tab first"><a href="/download/routers"><img  title="Router Firmware" style="height: 80px; width: 80px;" src="/files/router3.png" alt="Routers"></a></span>
  {% endif %}
  {% if page.url == "/download/android/index.html" %}
    <span class="tab active"><a href="/download/android"><img title="Android Phones" style="height: 80px; width: 80px;" src="/files/cellPhone3.png" alt="phones"></a></span>
  {% else %}
    <span class="tab"><a href="/download/android/"><img title="Android Phones" style="height: 80px; width: 80px;" src="/files/cellPhone3.png" alt="phones"></a></span>
  {% endif %}
  {% if page.url == "/download/computers/index.html" %}
    <span class="tab active"><a href="/download/computers"><img title="Computers" style="height: 80px; width: 80px;" src="/files/laptop3.png" alt="Computers"></a></span>
  {% else %}
    <span class="tab"><a href="/download/computers" ><img title="Computers" style="height: 80px; width: 80px;" src="/files/laptop3.png" alt="Computers"></a></span>
  {% endif %}
  {% if page.url == "/download/openbts/index.html" %}
    <span class="tab last active"><a href="/download/openbts"><img title="OpenBTS" style="height: 80px; width: 80px;" src="/files/cellTower3.png" alt="OpenBTS"></a></span>
  {% else %}
    <span class="tab last"><a href="/download/openbts"><img title="OpenBTS" style="height: 80px; width: 80px;" src="/files/cellTower3.png" alt="OpenBTS"></a></span>
  {% endif %}
</div>
