<footer id="section-footer" class="section section-footer">
 <div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">  
  <div id="zone-footer" class="zone zone-footer clearfix container-12">
    <div class="grid-4 prefix-8 region region-postscript-first" id="region-postscript-first">
      <div class="region-inner region-postscript-first-inner">
                
      </div>
    </div>
  </div>
 </div>
 <div class="grid-3 region region-postscript-second" id="region-postscript-second">
  <div class="region-inner region-postscript-second-inner">
   <div class="block block-menu-block block-8 block-menu-block-8 odd block-without-title" id="block-menu-block-8">
    <div class="block-inner clearfix">
     <div class="content clearfix">
      <div class="menu-block-wrapper menu-block-8 menu-name-menu-footer-menu parent-mlid-0 menu-level-1">
  	<ul class="menu"><li class="first leaf menu-mlid-2043"><a href="/contact" title="">Contact</a></li>
	<li class=""><a href="/jobs" title="">Jobs</a></li>
	<li class=""><a href="http://oti.newamerica.net/" title="">OTI</a></li>
	<li class=""><a href="/about/press" title="">Press</a></li>
	<li class="last leaf menu-mlid-2048"><a href="/about/license-privacy" title="">License &amp; Privacy</a></li>
	</ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="grid-3 region region-postscript-third" id="region-postscript-third">
  <div class="region-inner region-postscript-third-inner">
  </div>
 </div>  
</div>
</footer>

</div> <!-- end container -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
  </body> 
</html>
