
<footer>
    <img class="arrow" src="images/whitearrow.png" />

    <ul class="menu">
        <li><a href="https://github.com/organizations/opentechinstitute/dashboard/issues/repos?direction=desc&amp;state=open" title="">Issue Tracker</a></li>
        <li><a href="/contact.html" title="">Contact</a></li>
        <li><a href="/jobs.html" title="">Jobs</a></li>
        <li><a href="/press.html" title="">Press</a></li>
        <li><a href="/license.html" title="">License</a></li>
        <li><a href="/privacy.html" title="">Privacy</a></li>
    </ul>
    <p><img src="images/cc_footer.png"> {{ site.time | date: '%Y' }} <a href="https://opentechinstitute.org/">Open Technology Institute</a></p>

<!-- SOCIAL MEDIA -->
	<ul class="menu">
		<li><a href="https://twitter.com/oti"><img src="images/twitter.png"></a></li>
	</ul>

</footer>


</div> <!-- end container -->
</div> <!-- end contentcontainer -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<!-- analytics code? -->
  </body> 
</html>
