<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

<!-- Detects if there's a defined page description, includes it if so, and otherwise includes the first 160 characters of the page content. We could do categories instead, or use truncatewords:30 and probably still be within character limit -->
    <meta name="description" content="
    {% if page.description %}{{ page.description }}
    {% elsif post.content %}{{ post.content | strip_html | truncate:160}}
    {% endif %}">

    {% if site.author.name %}<meta name="author" content="{{ site.author.name }}">{% endif %}

<!-- Detects if page tags exist, and if so, includes them as a comma-delineated string. If not, displays nothing. -->
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}">{% endif %}


    <link href="/css/bootstrap.css" rel="stylesheet">


    <link href="/css/new.css" rel="stylesheet">

    <style>
  	body {
    	  padding-top:40px;
    	}
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- SOCIAL AND FAVICON -->

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Commotion Wireless ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Commotion Wireless RSS Feed">


  </head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="boxes-box" id="boxes-box-top_colors">
    <div class="boxes-box-content">
      <div class="navbar-inners">
        <div class="color0">&nbsp;</div>
        <div class="color1">&nbsp;</div>
        <div class="color2">&nbsp;</div>
        <div class="color3">&nbsp;</div>
        <div class="color4">&nbsp;</div>
      </div> 
    </div>
  </div>
</div>
<div class="container">
  <div style="float: left; max-width:300px;">
    <a href="/"><img src="/images/commotion_kbabout_measure-03_0_0.png" alt="Commotion Wireless logo" style="float:left; position:relative; z-index: 1000; max-width:350px; height: 12em; margin-left: .5em; margin-right: .5em;" /></a>
  </div>
  <div style="float: right; width: 70%;">
    <ul class="nav nav-pills">
      <li class="dropdown">
	<a id="aboutMenu" href="#" data-toggle="dropdown" role="button">
	About
	<b class="caret"></b>
	</a>
	<ul id="aboutMenu" class="dropdown-menu" aria-labelledby="aboutMenu" role="menu">
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/about">About Commotion</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/faq">FAQ</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/guiding-principles">Guiding Principles</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/where-its-used">Where It&#039;s Used</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/press">Press</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/license-privacy">License &amp; Privacy</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs">Jobs</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="/contact">Contact</a></li>
	</ul>
	</li>
      <li class="static-nodrop"><a href="/blog" title="">Blog</a></li>
      <li class="dropdown">
	<a id="getHelpMenu" href="#" data-toggle="dropdown" role="button">
	Get Help
	<b class="caret"></b>
	</a>
        <ul id="getHelpMenu" class="dropdown-menu" aria-labelledby="getHelpMenu" role="menu">
	  <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/get-started">Get Started</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/get-involved">Get Involved</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/supported-devices">Supported Devices</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/cck">Commotion Construction Kit</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/localization">Commotion Localization</a></li>
	</ul>
      </li>
      <li class="dropdown">
	<a id="downloadMenu" href="#" data-toggle="dropdown" role="button">
	Download
	<b class="caret"></b>
	</a>
	<ul id="downloadMenu" class="dropdown-menu" aria-labelledby="downloadMenu" role="menu">
	  <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/routers" title="Downloads for supported routers">Routers</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/android" title="Downloads for supported cellular phones.">Phones</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/computers">Computers</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/openbts" title="Downloads for supported cellular network gateways.">Cellular Networks</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/verify-signatures" title="">Verifying Downloads</a></li>
	</ul>
      </li>
      <li class="dropdown">
	<a id="developersMenu" href="#" data-toggle="dropdown" role="button">
	For Developers
	<b class="caret"></b>
	</a>
	<ul id="developersMenu" class="dropdown-menu" aria-labelledby="developersMenu" role="menu">
	  <li role="presentation"><a role="menuitem" tabindex="-4" href="/developer/resources" title="">Developer Resources</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-4" href="/jobs" title="Read and submit bids for open RFPs on the Commotion Wireless project.">Requests for Proposals</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-4" href="https://wiki.commotionwireless.net" title="">Wiki</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-4" href="https://github.com/organizations/opentechinstitute/dashboard/issues/repos?direction=desc&amp;state=open" title="">Issue Tracker</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-4" href="https://github.com/opentechinstitute" title="">Source Code</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-4" href="/developer/hig/introduction">Human Interface Guidelines</a></li>
	</ul>
      </li>
    </ul>
  </div> 
 </div>
</div>


<header class="promo">

<!-- FEATURED IMAGE/VIDEO/MAP/TITLE, not on index -->
<!-- note, only one of these should be used at a time -->
    {% if post.feature %}
      <div class="feature">
        <img src="{{ post.feature }}" />
      </div>
    {% elsif post.map %}
      <div class="map"">
        <iframe src="{{ post.map }}" height="{{ post.map.height }}" width="{{ post.map.width }} frameborder="0" background="transparent" />
      </div>
    {% elsif post.video %}
      <div class="video"">
        <video height="{{ post.video.height }}" width="{{ post.video.width }}" controls>
          {% if post.video.mp4 %}<source src="{{ post.video.mp4 }}" type="video/mp4">{% endif %}
          {% if post.video.ogg %}<source src="{{ post.video.ogg }}" type="video/ogg">{% endif %}
          {% if post.video.subtitles %}<track src="{{post.video.subtitles}}" kind="subtitles" label="Captions"> {% endif %}
        Your browser does not support the video tag. Upgrade!
        </video>
        <div class="videocaption">{{ post.video.caption }}</div>
        <h1>{{page.title}}</h1>
      </div>
    {% else %}
      <div class="pagetitle">
        <h1>{{page.title}}</h1>
      </div>
    {% endif %}
<!-- END FEATURED IMAGE -->

</header>
    <img class="arrow" src="images/blackarrow.png" />


<div class="containercontent">
  <div class="container">
