<ul class="submenu">
  <li {% if page.url contains '/docs/cck/installing-configuring/install-ubiquity-router' %} class="active" {% endif %}><a href="/docs/cck/installing-configuring/install-ubiquity-router">Install on a Ubiquity Router</a></li>
  <li {% if page.url contains '/docs/cck/installing-configuring/configure-commotion' %} class="active" {% endif %}><a href="/docs/cck/installing-configuring/configure-commotion">Configure Commotion</a></li>
  <li {% if page.url contains '/docs/cck/installing-configuring/common-configurations' %} class="active" {% endif %}><a href="/docs/cck/installing-configuring/common-configurations">Common Configurations</a></li>
  <li {% if page.url contains '/docs/cck/installing-configuring/troubleshoot-your-wireless-node' %} class="active" {% endif %}><a href="/docs/cck/installing-configuring/troubleshoot-your-wireless-node">Troubleshoot Your Wireless Node</a></li>
  <li {% if page.url contains '/docs/cck/installing-configuring/install-and-reover-tftp' %} class="active" {% endif %}><a href="/docs/cck/installing-configuring/install-and-recover-tftp">Install and Recover with TFTP</a></li>
</ul>
