<div class="verifying-downloads-block">
  <h4>Verifying Downloads</h4>
  <div>
    <p>We use the best practice of using GPG signatures to sign our downloads. This allows you to verify that the files you download here were released by us if you choose to.</p>

    <p>To verify our downloads (optional), you'll need the<br />
      <br />
      <a class="button" href="http://downloads.commotionwireless.net/DR2/CE994850.asc" target="_blank">Commotion Signing Key</a><br />
      <br />
      and the GPG signature for the downloaded file. This image links to each download's GPG signature: <img src="/images/seal.png" /></p>

    <p><a href="/download/verify-signatures">Find out more</a> on our <a href="/download/verify-signatures">Verifying Downloads</a> page.</p>
  </div>
</div>
