/* Position/Function styles for Hamburger + Accordion menu */
#primary_nav_wrap {
    clear: both;
    float: left;
    /*margin: 10px 0 0 10px;*/
    padding: 0;
    text-align: left;
    position: relative;
}

#primary_nav_wrap button.toggle-menu {
    padding: 8%;
    margin: 5px 8%;
    background-color: black;
    border: 1px darkgrey solid;
    color: white;
    opacity: 0.75;
    font-family: inherit;
}

#primary_nav_wrap button.toggle-menu:hover {
    color: black;
    border: 1px black solid;
    background-color: lightgrey; 
}

#primary_nav_wrap .accordion {
    display: none;
    width: 150px;
}

.accordion {
    position: absolute;
}

.accordion ul {
    list-style-type: none;
    margin-left: 0;
    text-align: left;
    margin:0;
    padding: 0;
    background-color:black;
}

.accordion ul a {
    display:block;
    color:white;
    text-decoration:none;
    font-weight:500;
    font-size:12px;
    line-height:32px;
    padding:0px 0px;
}

.accordion ul li {
    line-height: 150%;
    min-width: 100px;
    width: 100%;
    text-align: left;
    margin:0;
    padding:10px 15px;
}

#primary_nav_wrap ul li:hover > ul {
    /*display:block;*/
}

.accordion ul ul {
    display: none;
    padding: 5px 5px;
    background-color:black;
    padding:0;
    position: relative;
}

.accordion ul ul a {
    line-height: 120%;
    padding: 0;
}

.accordion ul ul li {
    max-width: 300px;
    /*width: 300px;*/
    float: none;
    background-color: black; /* otherwise background is short */
}

/*.accordion ul ul:hover,*/
.accordion ul ul li:hover {
    background-color: rgba(255,255,255,.25);
}
