#primary_nav_wrap {
    clear: both;
    float: left;
}

#primary_nav_wrap .accordion {
    display: none;
    width: 150px;
}

.accordion ul {
    list-style-type: none;
    margin-left: 0;
}

.accordion ul li {
    line-height: 150%;
    min-width: 100px;
    border: 1px lightgrey;
    background-color: blue;
    color: white;
}

.accordion ul ul li {
    background-color: lightblue;
    color: black;
}

.accordion ul ul {
    display: none;
}

