#menu-dropdown,
#menu-dropdown ul,
#menu-dropdown li,
#menu-dropdown a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  text-align: left;
}

#menu-dropdown ul a {
    color:white;
    text-decoration:none;
    font-weight:500;
    font-size:12px;
    line-height:32px;
    padding:0px 0px;
}

#menu-dropdown a {
}

#menu-dropdown {
    /* stacks menu */
  /* width: 250px; stacks menu */
}
#menu-dropdown > ul > li > a {
  /*padding-right: 40px;*/
  display: block;
  position: relative;
}
#menu-dropdown > ul > li > a > span {
  padding: 10px;
  display: block;
}
#menu-dropdown > ul > li > a:hover {
}
#menu-dropdown > ul > li.active {
}
#menu-dropdown > ul > li.active > a {
}
#menu-dropdown > ul > li.active > a span {
}


#menu-dropdown ul ul {
  display: none;
}
#menu-dropdown ul ul li {
}
#menu-dropdown ul ul a {
  padding: 10px;
  display: block;
}

#menu-dropdown {
 margin: 0;
 padding: 0;
 text-align: left;
}

#menu-dropdown ul
{
 list-style:none;
 position:relative;
 float:left;
 margin:0;
 padding:0;

}

#menu-dropdown ul a
{
 display:block;
 color:white;
 text-decoration:none;
 font-weight:500;
 font-size:12px;
 line-height:32px;
 padding:0px 0px;
}

#menu-dropdown ul li
{
 text-align: left;
 position:relative;
 float:left;
 margin:0;
 padding:10px 15px;
 min-width: 20px;
}

#menu-dropdown ul li.current-menu-item {
}

#menu-dropdown ul ul li:hover {
    background-color: rgba(255,255,255,.25);
}

#menu-dropdown ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background-color:black;
	padding:0;
}

#menu-dropdown ul ul li {
 float:none;
 max-width:300px;
 width: 300px;
}

#menu-dropdown ul ul a
{
	line-height:120%;
	padding:0;
}

#menu-dropdown ul ul ul
{
	top:0;
	left:100%
}

#menu-dropdown ul li:hover > ul
{
 /*display:block;*/
}

#menu-dropdown {
    display: none;
}

#menu-dropdown:hover,
#primary_nav_wrap:hover {
    display: visible;
}
