<div id="subsection-menu">
<h3><a href="/about">About</a></h3>
	<ul>
          <li {% if page.url contains '/about/index.html' %} class="active" {% endif %}><a href="/about">About Commotion</a></li>
          <li {% if page.url contains '/about/faq' %} class="active" {% endif %}><a href="/about/faq">FAQ</a></li>
          <li {% if page.url contains '/about/guiding-principles' %} class="active" {% endif %}><a href="/about/guiding-principles">Guiding Principles</a></li>
          <li {% if page.url contains '/about/where-its-used' %} class="active" {% endif %}><a href="/about/where-its-used">Where It&#039;s Used</a></li>
          <li {% if page.url contains '/about/press' %} class="active" {% endif %}><a href="/about/press">Press</a></li>
          <li {% if page.url contains '/about/license-privacy' %} class="active" {% endif %}><a href="/about/license-privacy">License &amp; Privacy</a></li>
          <li {% if page.url contains '/about/funding' %} class="active" {% endif %}><a href="/about/funding">Funding</a></li>
          <li {% if page.url contains '/jobs' %} class="active" {% endif %}><a href="/jobs">Jobs</a></li>
          <li {% if page.url contains '/contact' %} class="active" {% endif %}><a href="/contact">Contact</a></li>
      </ul>
</div>
