<div id="subsection-menu">
<h3><a href="/developer/resources">For Developers</a></h3>
<ul>
<li {% if page.url contains '/developer/resources' %} class="active" {% endif %}><a href="/developer/resources/">Developer Resources</a>
{% if page.url contains '/developer/resources' %}
{% include developers_resources_menu.html %}
{% endif %}
</li>
<li><a href="https://github.com/opentechinstitute">Source Code</a></li>
<li><a {% if page.url contains '/developer/api' %} class="active" {% endif %} href="/developer/api/">API Reference</a>
{% if page.url contains '/developer/api' %}
{% include developers_api_menu.html %}
{% endif %}
</li>
<li><a href="https://wiki.commotionwireless.net/">Wiki</a></li>
<li><a href="https://github.com/organizations/opentechinstitute/dashboard/issues/repos?direction=desc&state=open">Issue tracker</a></li>
<li {% if page.url contains '/developer/hig' %} class="active" {% endif %} ><a href="/developer/hig/introduction">Human Interface Guidelines</a>
{% if page.sub_section contains 'hig' %}
{% include developers_hig_menu.html %}
{% endif %}
<li><a href="/jobs">Requests for Proposals</a></li>
</li>
</ul>
</div>
