<ul class="submenu">
  <li {% if page.url contains '/developer/resources/commotion-router' %} class="active" {% endif %}><a href="/developer/resources/commotion-router">Router</a></li>
  <li {% if page.url contains '/developer/resources/commotion-android' %} class="active" {% endif %}><a href="/developer/resources/commotion-android">Android</a></li>
  <li><a href="https://wiki.commotionwireless.net/doku.php?id=commotion_architecture:commotion_client_architecture" target="_blank">Linux</a></li>
  <li><a href="https://wiki.commotionwireless.net/doku.php?id=commotion_architecture:commotion_client_architecture" target="_blank">Windows</a></li>
  <li {% if page.url contains '/developer/resources/commotion-mac' %} class="active" {% endif %}><a href="/developer/resources/commotion-mac/">MacOS/iOS</a></li>
  <li><a href="https://wiki.commotionwireless.net/doku.php?id=general_openbts_notes" target="_blank">OpenGSM</a></li>
</ul>
