<ul class="submenu">
  <li {% if page.url contains '/docs/cck/local-applications/what-is-an-app' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/local-applications/what-is-an-app">What is an app?</a></li>
  <li {% if page.url contains '/docs/cck/local-applications/apps-needs-assessment' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/local-applications/apps-needs-assessment">Apps Needs Assessment</a></li>
  <li {% if page.url contains '/docs/cck/local-applications/locating-a-local-server' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/local-applications/locating-a-local-server">Locating a Local Server</a></li>
  <li {% if page.url contains '/docs/cck/local-applications/developing-local-apps' %} class="active" {% endif %}><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/docs/cck/local-applications/developing-local-apps">Developing Local Applications</a></li>
</ul>
