<div id="subsection-menu">
<h3><a href="/download">Download</a></h3>
  <ul>
    <li {% if page.url contains '/download/index.html' %} class="active" {% endif %}><a href="/download">Download Commotion</a></li>
    <li {% if page.url contains '/download/routers' %} class="active" {% endif %}><a href="/download/routers">Routers</a></li>
    <li {% if page.url contains '/download/phones' %} class="active" {% endif %}><a href="/download/android">Phones</a></li>
    <li {% if page.url contains '/download/computers' %} class="active" {% endif %}><a href="/download/computers">Computers</a></li>
    <li {% if page.url contains '/download/openbts' %} class="active" {% endif %}><a href="/download/openbts">Cellular Networks</a></li>
    <li {% if page.url contains '/download/verify-signatures' %} class="active" {% endif %}><a href="/download/verify-signatures">Verifying Downloads</a></li>
</div>
