<!DOCTYPE html>
<html lang="{{page.lang}}">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Commotion is a free, open-source communication tool that uses wireless devices to create decentralized mesh networks. Commotion provides a way for you to share your Internet connection with the people around you, but it is not a replacement for your Internet connection.">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/main.css">
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{{site.baseurl}}/assets/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <title>{{ include.title }}</title>
</head>

<body>
    <header class="template-header">
        <!-- NAV TITLE BAR -->
        <nav class="navbar navbar-inverse">
            <div class="color-bar">
                <div class="commotion-pink">&nbsp;</div>
                <div class="commotion-blue">&nbsp;</div>
                <div class="commotion-gold">&nbsp;</div>
                <div class="commotion-yellow">&nbsp;</div>
                <div class="commotion-purple">&nbsp;</div>
            </div>
            <!-- Main navbar -->
            {% if page.lang == 'en' %}
                {% include en/menu-navbar-main_en.html %} 
            {% elsif page.lang == 'es' %}
                {% include es/menu-navbar-main_es.html %}
            {% elsif page.lang == 'fr' %}
                {% include fr/menu-navbar-main_fr.html %}
            {% endif %}
        </nav>

        <div class="container">
            <div id="header_wrap" class="row">
                <div class="col-md-2 col-md-offset-1">
                    <img src="{{site.baseurl}}/icons/commotion_full_web_inverse.svg" alt="The Commotion Wireless Project logo." class="project_logo img-responsive">
                </div>
                <header class="col-md-8">
                    <h1 id="project_title">{{ include.title }}</h1>
                    <h2 id="project_tagline" class="small">{{ include.subtitle }}</h2>
                    {% if page.abstract %}
                    <section id="header-text">
                        <p>{{ page.abstract }}</p>
                    </section>
                    {% endif %}
                </header>
                <div class="col-md-1">
                    <!-- placeholder div to balance offset -->
                </div>
            </div>
        </div>
    </header>
    <div id="main_content_wrap" class="outer">
        <div class="center-arrow-down" align="center"></div>
