<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Community Technology Field Guide: (Re)Building Technology">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <!-- <script src="/js/jquery-ui/jquery-ui.min.js"></script> -->
    <title>{{ include.title }}</title>
</head>

<body>
    <div id="header">
    <!-- NAV TITLE BAR -->
    <nav>
        <div class="color-bar">
            <div class="color0">&nbsp;</div>
            <div class="color1">&nbsp;</div>
            <div class="color2">&nbsp;</div>
            <div class="color3">&nbsp;</div>
            <div class="color4">&nbsp;</div>
        </div>

    <!-- Drop down bars: menu-dropdown.css -->
        {% include menu-dropdown.html %}
    <!-- END Drop down bars -->

        <div id="maintitle"><a href="{{site.baseurl}}/">{{site.title}}</a></div>

        <!-- ul here will create a flat list at the right side of navbar -->
        {% include language-switcher-navbar.html %}
    </nav>

    <div id="header_wrap" class="outer">
    <header class="inner {{include.width}} align-center">
    <h1 id="project_title">{{ include.title }}</h1>
    <h2 id="project_tagline">{{ include.subtitle }}</h2>
    {% if page.abstract %}
    <section id="header-text">
    <p>{{ page.abstract }}</p>
    </section>
    {% endif %}

    </header>
    </div>


</div>
<div id="main_content_wrap" class="outer">
    <div class="center-arrow-down" align="center"></div>
