<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Community Technology Field Guide: (Re)Building Technology">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/main.css">
    <title>{{ include.title }}</title>
</head>

<body>
    <div id="header">
    <!-- NAV TITLE BAR -->
    <nav>
        <div class="color-bar">
            <div class="color0">&nbsp;</div>
            <div class="color1">&nbsp;</div>
            <div class="color2">&nbsp;</div>
            <div class="color3">&nbsp;</div>
            <div class="color4">&nbsp;</div>
        </div>

    <!-- Drop down bars: menu-dropdown.css -->
        <div id="primary_nav_wrap">
        <ul>
        <li><i class="fa fa-bars"></i>
            <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/about">About</a>
                <ul>
                    <li><a href="{{site.baseurl}}/about">About Commotion</a></li>
                    <li><a href="{{site.baseurl}}/about/contributors">Commotion Contributors</a></li>
                    <li><a href="{{site.baseurl}}/about/guiding-principles">Guiding Principles</a></li>
                    <li><a href="{{site.baseurl}}/about/where-its-used">Where It's Used</a></li>
                    <li><a href="{{site.baseurl}}/about/press">Press</a></li>
                    <li><a href="{{site.baseurl}}/about/license-privacy">License &amp; Privacy</a></li>
                    <li><a href="{{site.baseurl}}/about/funding">Funding</a></li>
                    <li><a href="{{site.baseurl}}/jobs">Jobs</a></li>
                    <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/blog">Blog</a></li>
            <li><a href="{{site.baseurl}}/docs">Documentation</a>
                <ul>
                    <li><a href="{{site.baseurl}}/docs">Documentation</a></li>
                    <li><a href="{{site.baseurl}}/docs/get-started">Get Started</a></li>
                    <li><a href="{{site.baseurl}}/docs/get-involved">Get Involved</a></li>
                    <li><a href="{{site.baseurl}}/docs/supported-devices">Supported Devices</a></li>
                    <li><a href="{{site.baseurl}}/docs/guids-howtos">Guides &amp; How-Tos</a></li>
                    <li><a href="{{site.baseurl}}/docs/cck">Commotion Construction Kit</a></li>
                    <li><a href="{{site.baseurl}}/docs/localization">Commotion Localization</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/download">Download</a>
                <ul>
                    <li><a href="{{site.baseurl}}/download/routers">Routers</a></li>
                    <li><a href="{{site.baseurl}}/download/phones">Phones</a></li>
                    <li><a href="{{site.baseurl}}/download/computers">Computers</a></li>
                    <li><a href="{{site.baseurl}}/download/verifying-signatures">Verifying Downloads</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/docs/cck">For Organizers</a>
                <ul>
                    <li><a href="{{site.baseurl}}/docs/cck">Introduction</a></li>
                    <li><a href="{{site.baseurl}}/docs/cck/planning">Planning</a></li>
                    <li><a href="{{site.baseurl}}/docs/cck/installing-configuring">Installing + Configuring</a></li>
                    <li><a href="{{site.baseurl}}/docs/cck/building-mounting">Building + Mounting</a></li>
                    <li><a href="{{site.baseurl}}/docs/cck/networking">Wireless + Networking</a></li>
                    <li><a href="{{site.baseurl}}/docs/cck/local-applications">Local Applications</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/developer/resources">For Developers</a>
                <ul>
                    <li><a href="{{site.baseurl}}/developer/resources">Developer Resources</a></li>
                    <li><a href="https://github.com/opentechinstitute">Source Code</a></li>
                    <li><a href="{{site.baseurl}}/developer/api">API Reference</a></li>
                    <li><a href="https://wiki.commotionwireless.net">Wiki</a></li>
                    <li><a href="https://github.com/issues?q=is:issue+user:opentechinstitute+is:open">Issue Tracker</a></li>
                    <li><a href="{{site.baseurl}}/developer/hig/introduction">Human Interface Guide</a></li>
                    <li><a href="{{site.baseurl}}/jobs">Requests for Proposals</a></li>
                </ul>
            </li>
            </ul>
        </li>
        </ul>
        </div>
    <!-- END Drop down bars -->

        <div id="maintitle"><a href="{{site.baseurl}}/">{{site.title}}</a></div>
        <ul>
        {% for node in site.data.menu %}
        <li class=""><a href="{{site.baseurl}}/{{node.url}}">{{node.title}}</a></li>
        {% endfor %}
        </ul>
    </nav>

    <div id="header_wrap" class="outer">
    <header class="inner {{include.width}} align-center">
    <h1 id="project_title">{{ include.title }}</h1>
    <h2 id="project_tagline">{{ include.subtitle }}</h2>
    {% if page.abstract %}
    <section id="header-text">
    <p>{{ page.abstract }}</p>
    </section>
    {% endif %}

    <section id="slideshow-placeholder">
    <div id="slideshow">
        <div id="banner-slide" class="slideshow-inner">
            <ul class="bjqs">
            <li><a href="/blog/2014/10/15/commotion-router-v1.1-final-release-notes">Commotion 1.1 Release</a><br />
            Get the most current version of Commotion Router, 1.1, available for <a href="/download/routers">download.</a></li>
            <li>Commotion is an open-source communication tool that uses wireless devices to create decentralized mesh networks.</li>
            <li>Interested in trying Commotion or learning more?  Our <a href="/docs/get-started">Get Started</a> guide will explain how.</li>
            <li>Are you interested in contributing to Commotion?<br /><a href="/docs/get-involved">Get Involved!</a></li>
            <li>Have Questions about Commotion? Our <a href="/about/faq">Frequently Asked Questions</a> covers many of them.</li>
            </ul>
        </div>
        <noscript>
            <div id="banner-slide" class="slideshow-inner">
                <div class="noscript">Commotion is an open-source communication tool that uses wireless devices to create decentralized mesh networks.</div>
            </div>
        </noscript>
    </div>
    </section>

    </header>
    </div>


</div>
<div id="main_content_wrap" class="outer">
    <div class="center-arrow-down" align="center"></div>
