<div id="subsection-menu">
<h3><a href="/{% if page.lang != 'en' %}{{ page.lang }}/{% endif %}docs">Get Help</a></h3>
<ul>
   <li {% if page.url contains '/docs/get-started' %} class="active" {% endif %}><a href="/docs/get-started">Get Started</a></li>
   <li {% if page.url contains '/docs/get-involved' %} class="active" {% endif %}><a href="/docs/get-involved">Get Involved</a></li>
   <li {% if page.url contains '/docs/supported-devices' %} class="active" {% endif %}><a href="/docs/supported-devices">Supported Devices</a></li>
   <li {% if page.url contains '/docs/cck' %} class="active" {% endif %}><a href="/docs/cck">Commotion Construction Kit</a>
{% if page.sub_section contains 'cck' %}
{% include help_cck_mainmenu.html %}
{% endif %}
   </li>
   <li {% if page.url contains '/docs/localization' %} class="active" {% endif %}><a href="/docs/localization">Commotion Localization</a></li>
</ul>
</div>
