<div id="navbar">
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a id="aboutMenu" href="/about" data-toggle="dropdown" role="button" class="menu-top-level">
        About
        <b class="caret"></b>
      </a>
      <ul id="aboutMenu" class="dropdown-menu" aria-labelledby="aboutMenu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/about">About Commotion</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/faq">FAQ</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/guiding-principles">Guiding Principles</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/where-its-used">Where It&#039;s Used</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/press">Press</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/about/license-privacy">License &amp; Privacy</a></li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="/about/funding">Funding</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs">Jobs</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/contact">Contact</a></li>
      </ul>
    </li>
    <li class="static-nodrop"><a href="/blog" title="">Blog</a></li>
    <li class="dropdown">
      <a id="getHelpMenu" href="/docs" data-toggle="dropdown" role="button" class="menu-top-level">
        Get Help
        <b class="caret"></b>
      </a>
      <ul id="getHelpMenu" class="dropdown-menu" aria-labelledby="getHelpMenu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/get-started">Get Started</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/get-involved">Get Involved</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/supported-devices">Supported Devices</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/cck">Commotion Construction Kit</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/docs/localization">Commotion Localization</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="downloadMenu" href="/download" data-toggle="dropdown" role="button" class="menu-top-level">
        Download
        <b class="caret"></b>
      </a>
      <ul id="downloadMenu" class="dropdown-menu" aria-labelledby="downloadMenu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/routers" title="Downloads for supported routers">Routers</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/android" title="Downloads for supported cellular phones.">Phones</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/computers">Computers</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/openbts" title="Downloads for supported cellular network gateways.">Cellular Networks</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/download/verify-signatures" title="">Verifying Downloads</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="developersMenu" href="/developer/resources" data-toggle="dropdown" role="button" class="menu-top-level">
        For Developers
        <b class="caret"></b>
      </a>
      <ul id="developersMenu" class="dropdown-menu" aria-labelledby="developersMenu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-4" href="/developer/resources" title="">Developer Resources</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-4" href="https://github.com/opentechinstitute" title="">Source Code</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-4" href="/developer/api" title="">API Reference</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-4" href="https://wiki.commotionwireless.net" title="">Wiki</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-4" href="https://github.com/organizations/opentechinstitute/dashboard/issues/repos?direction=desc&amp;state=open" title="">Issue Tracker</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-4" href="/developer/hig/introduction">Human Interface Guidelines</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-4" href="/jobs" title="Read and submit bids for open RFPs on the Commotion Wireless project.">Requests for Proposals</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
