{% include language-switcher-block.html %}
{% case page.site_section %}
{% when 'about' %}
{% include about_menu.html %}
{% when 'help' %}
{% include help_menu.html %}
{% when 'blog' %}
{% include blog_menu.html %}
{% when 'download' %}
{% include downloads_menu.html %}
{% when 'developers' %}
{% include developers_menu.html %}
{% else %}
{% endcase %}
{% if page.sub_section contains 'cck' %}
{% include cck_download_pdfs_block.html %}
{% endif %}
{% include send-feedback.html %}
{% include bug-report.html %}
{% if page.lang != 'en' %}
{% include language-help-translate-block.html %}
{% endif %}
