{% case page.site_section %}
{% when 'about' %}
{% if page.lang == 'en' %}{% include en/about_menu_en.html %}
{% elsif page.lang == 'es' %}{% include es/about_menu_es.html %}
{% elsif page.lang == 'fr' %}{% include fr/about_menu_fr.html %}
{% endif %}
{% when 'docs' %}
{% if page.lang == 'en' %}{% include en/docs_menu_en.html %}
{% elsif page.lang == 'es' %}{% include es/docs_menu_es.html %}
{% elsif page.lang == 'fr' %}{% include fr/docs_menu_fr.html %}
{% endif %}
{% when 'blog' %}
{% include blog_menu.html %}
{% when 'download' %}
{% if page.lang == 'en' %}{% include en/downloads_menu_en.html %}
{% elsif page.lang == 'es' %}{% include es/downloads_menu_es.html %}
{% elsif page.lang == 'fr' %}{% include fr/downloads_menu_fr.html %}
{% endif %}
{% when 'developers' %}
{% if page.lang == 'en' %}{% include en/developers_menu_en.html %}
{% elsif page.lang == 'es' %}{% include es/developers_menu_es.html %}
{% elsif page.lang == 'fr' %}{% include fr/developers_menu_fr.html %}
{% endif %}
{% else %}
{% endcase %}
{% if page.sub_section contains 'cck' %}
{% if page.lang == 'en' %}{% include en/cck_download_pdfs_block_en.html %}
{% elsif page.lang == 'es' %}{% include es/cck_download_pdfs_block_es.html %}
{% elsif page.lang == 'fr' %}{% include fr/cck_download_pdfs_block_fr.html %}
{% endif %}
{% endif %}
{% if page.lang == 'en' %}
{% include en/send-feedback_en.html %}
{% include en/bug-report_en.html %}
{% elsif page.lang == 'es' %}
{% include es/send-feedback_es.html %}
{% include es/bug-report_es.html %}
{% elsif page.lang == 'fr' %}
{% include fr/send-feedback_fr.html %}
{% include fr/bug-report_fr.html %}
{% endif %}
{% if page.lang != 'en' %}
{% include language-help-translate-block.html %}
{% endif %}
