<p>
If you are building a wireless network that covers a wide area, such as a town or large neighborhood, you may need to install some routers outdoors or on rooftops. Consult the guides and documents below for some help on selecting the proper tools, hardware, and mounting kits - as well as a few tips on effective and safe installation methods.
</p>
<ul>
	<li><a href="/docs/cck/building-mounting/plan-wireless-sites">Plan Wireless Sites</a>: A set of worksheets to plan out wireless site installations, with examples on use.</li>
	<li><a href="/docs/cck/building-mounting/gather-tools-and-wireless-equipment">Gather Tools and Wireless Equipment</a>: A list of suggested tools and equipment to use for installing wireless hardware.</li>
	<li><a href="/docs/cck/building-mounting/learn-rooftop-basics">Learn Rooftop Basics</a>: Tips for working on roofs.</li>
	<li><a href="/docs/cck/building-mounting/learn-about-rooftop-mounts">Learn About Rooftop Mounts</a>: A guide to different mounting hardware and how to install it.</li>
	<li><a href="/docs/cck/building-mounting/prep-install-rooftop-nodes">Prep and Install Rooftop Nodes</a>: Easy-to-follow guidelines for installing wireless hardware on roofs.</li>
</ul>

