<p>
Installing Commotion involves a special process, replacing the firmware on your wireless router. To better understand firmware, and what it does on a router, read <a href="/docs/cck/installing-configuring/what-is-a-firmware">What in the world is a firmware?</a>
</p>
<p>
Commotion is supported on several types of routers. The installation process is different depending on the type. Use the installation guides below, specific to your equipment:
</p>
<ul>
	<li><a href="/docs/cck/installing-configuring/install-ubiquiti-router">Install on a Ubiquiti AirMax Router</a>: A step-by-step process for installing Commotion Wireless on Ubiquiti AirMax routers, which are amenable to changing operating systems.</li>
	<li><a href="/docs/cck/installing-configuring/install-unifi-router">Install on a Ubiquiti UniFi Router</a>: A step-by-step process for installing Commotion Wireless on Ubiquiti UniFi routers, though it is less user friendly than AirMax devices.</li>
	<li><a href="/docs/cck/installing-configuring/install-tplink-router">Install on a TP-Link Router</a>: A step-by-step process for installing Commotion Wireless on TP-Link routers, which are amenable to changing operating systems.</li>
	<li><a href="/docs/cck/installing-configuring/install-mikrotik-router">Install on a MikroTik Router</a>: A step-by-step process for installing Commotion Wireless on MikroTik RouterBoards. This is an advanced process and requires using DHCP server software.</li>
</ul>
<p>
After installing Commotion on your router, you will need to run through the Setup Wizard and configure the node. Review the configuration and hardware setup guides below for information on setting up the software, and connecting multiple mesh nodes in various configurations.
</p>
<ul>
	<li><a href="/docs/cck/installing-configuring/configure-commotion">Configure Commotion</a>: Instructions on configuring a Commotion wireless node through the Commotion Setup Wizard and through the administration interface.</li>
	<li><a href="/docs/cck/installing-configuring/common-hardware-setups/">Common Hardware Setups</a>: How a node should be configured depends on how it needs to funtion on the mesh network. Learn about the most common Commotion configurations.</li>
	<li><a href="/docs/cck/installing-configuring/advanced-hardware-setups/">Advanced Hardware Setups</a>: For hardware setups that involve multiple nodes at a single site, or other unique situations, this guide provides examples and configuration instructions.</li>
</ul>
<p>
If you run in to issues with the configuration of your routers, or the connections between routers, you can try these troubleshooting and router recovery guides.
</p>
<ul>
	<li><a href="/docs/cck/installing-configuring/troubleshoot-your-wireless-node">Troubleshoot Your Wireless Node</a>: Includes steps to identify and solve the most common problems that may arise with your Commotion router or wireless network.</li>
	<li><a href="/docs/cck/installing-configuring/install-and-recover-tftp">Install and Recover with TFTP</a>: An alternate installation process if the regular approach does not work or there is a problem with installing Commotion Wireless.</li>
</ul>
