<p>
Building a mesh network will involve some knowledge of wireless networking. There may already be members of your community with the knowledge and experience to share, but these materials can be used as guides or tools to further share the information with those that don't have much background.
</p>
<ul>
	<li><a href="/docs/cck/networking/intro-to-mesh">Introduction to Mesh</a>: An introduction to mesh and network properties.</li>
	<li><a href="/docs/cck/networking/learn-networking-basics">Learn Networking Basics</a>: An introductory guide to networking.</li>
	<li><a href="/docs/cck/networking/learn-wireless-basics">Learn Wireless Basics</a>: An introduction to how wireless technology works.</li>
	<li><a href="/docs/cck/networking/guidelines-for-mesh">Guidelines for Mesh Networks</a>: A set of guidelines on how to design a network with the unique characteristics of mesh in mind.</li>
</ul>
<p>
As networks grow and change, there are often issues that must be resolved. Wireless interference is one of them, and the guide below can help your community learn about how to solve it.
</p>
<ul>
	<li><a href="/docs/cck/networking/wireless-challenges">Design your Network: Wireless Challenges</a>: An activity to think about wireless issues that come up, to help improve network planning and troubleshooting.</li>
	<li><a href="/docs/cck/networking/types-of-wireless-networks">Types of Wireless Networks</a>: A hands on activity to explain the types of wireless networks, and how you can use them to build a community network.</li>
</ul>
