<p>
Community or neighborhood networks are set apart by the ability to host unique and local applications. These can be tailored to whatever your community needs or wants, and installed on a computer or server anywhere on the network. The guides below can help you think about how to plan for local applications and set them up on the network.
</p>
<ul>
	<li><a href="/docs/cck/local-applications/what-is-an-app">What is an App?</a>: An introductory guide to applications.</li>
	<li><a href="/docs/cck/local-applications/locating-a-local-server">Locating a Local Server</a>: How to decide where to put a local server.</li>
</ul>
