<p>
The first steps in building a wireless network with your community involve organizing and planning. The guides below help with identifying individuals in your neighborhood or community that can help, places to mount equipment, and important organizations to include in the planning process.
</p>
<ul>
	<li><a href="/docs/cck/planning/design-your-network-every-network-tells-story">Design your Network: Every Network Tells a Story</a>: A game that helps communities think through network planning and the social networks upon which community wireless relies.</li>
	<li><a href="/docs/cck/planning/survey-your-neighbors">Survey your Neighbors</a>: Description of how to design a survey for your community, conduct it, analyze the results, and follow-up with the community.</li>
	<li><a href="/docs/cck/planning/identify-neighborhood-skills">Identify Neighborhood Skills</a>: Activities to help identify important organizing, tech, and handy-person skills for your wireless project.</li>
	<li><a href="/docs/cck/planning/inventory-the-neighborhood">Inventory the Neighborhood</a>: Guide to surveying your neighborhood for wireless assets and challenges.</li>
</ul>
<p>
During the planning or installation process, you may want to inform the community about the network, or seek further help. The guides below can help with some of the process and graphics used when making an outreach flyer or brochure.
</p>
<ul>
	<li><a href="/docs/cck/planning/get-word-out-flyer-design">Get the Word Out: Flyer Design</a>: Step-by-step suggestions for making a flyer for your wireless project, including examples.</li>
	<li><a href="/docs/cck/planning/design-your-network-construction-elements">Design your Network: Construction Elements</a>: Simple graphics for making flyers, planning diagrams, or other materials, using scissors and paper or a computer design program.</li>
</ul>
